<div class="container">
  <span> <button (click)="addVillain()">Add</button></span>

  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Episode</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody *ngFor="let villain of villains">
      <tr>
        <th scope="row">{{ villain.id }}</th>
        <td>{{ villain.name }}</td>
        <td>{{ villain.episode }}</td>
        <td><button (click)="editVillain()">edit</button></td>
        <td><button (click)="deleteVillain()">delete</button></td>

      </tr>
    </tbody>
  </table>
</div>
