<div class="container" fxLayoutAlign="start">
  <form fxLayout="column" [formGroup]="createVillainForm">
    <p style="color: blueviolet">create-villain works!</p>
    <!---->
    <mat-form-field appearance="standard">
      <div class="form-group">
        <mat-label>Id:</mat-label>
        <input matInput formControlName="id" class="form-control" />
      </div>
    </mat-form-field>
    <!---->
    <mat-form-field appearance="standard">
      <div class="form-group">
        <mat-label> Name: </mat-label>
        <input matInput formControlName="name" class="form-control" />
      </div>
    </mat-form-field>
    <!---->
    <mat-form-field appearance="standard">
      <div class="form-group">
        <mat-label>Episode:</mat-label>
        <input matInput formControlName="episode" class="form-control" />
      </div>
    </mat-form-field>

    <div class="form-group row">
      <div fxLayoutGap="18px">
        <a mat-raised-button routerLink="/">Cancel</a>
        <button mat-raised-button color="primary" (click)="createVillain()">
          Create
        </button>
      </div>
    </div>
  </form>
</div>
